/* NavBar.css */
.header {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 0.5rem;
}

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    font-weight: 500;
    overflow: hidden;
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
        align-items: center;
    }
}

.brand {
    font-size: 3rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 0.5rem;
    padding-right: 0.75rem;
}

.toggle-input {
    display: none;
}

.toggle-label {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.25rem;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.nav {
    display: none;
    padding-top: 1rem;
}

.toggle-input:checked ~ .nav {
    display: block;
}

@media (min-width: 640px) {
    .nav {
        display: block;
        padding-top: 0;
    }

    .toggle-label {
        display: none;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 640px) {
    .nav-list {
        flex-direction: row;
        gap: 2rem;
    }
}

.inactive {
    color: gray;
    transition: color 0.3s;
}

.inactive:hover {
    color: pink;
}

.active {
    color: pink;
}

.signup {
    margin-top: 0.5rem;
}

@media (min-width: 640px) {
    .signup {
        margin-top: 0;
    }
}

.signup-inactive {
    border-radius: 0.5rem;
    border: 2px solid pink;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: pink;
    transition: all 0.3s;
}

.signup-inactive:hover {
    color: white;
    background-color: pink;
}

.signup-active {
    border-radius: 0.5rem;
    border: 2px solid pink;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: white;
    background-color: pink;
    transition: all 0.3s;
}

.signup-active:hover {
    color: gray;
    background-color: lightpink;
    border-color: lightpink;
}
